.header {
    margin-top: 12px;
    height: 54px;
    background-color: #F9FAFF;

    &_wrapper {
        max-width: 990px;
        padding: 7px 0 0 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-email {

        &_dog {
            a {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #FB703C;
            }
        }

        &_text {
            font-size: 11px;
            line-height: 13px;
            color: #55646A;
        }

    }

    &-soc_inf {
        margin-right: 7px;
    }

    &_question {
        display: flex;
        align-items: center;

        &_text {
            font-size: 11px;
            line-height: 13px;
            color: #55646A;
        }

        &_mail {
            a {
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #292C2E;
            }
        }
    }


    &_contacts {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }

        &-num {
            color: #292C2E;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
        }

    }
    &_wrap {
        display: flex;
        align-items: center;
    }



    input {
        width: 280px;
        height: 36px;
        background: #FFFFFF;
        border: 1px solid #DEE1E8;
        box-sizing: border-box;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }





}